In [1]:
import wrds
import pandas as pd
import numpy as np
import datetime as dt
from fuzzywuzzy import fuzz
db = wrds.Connection(wrds_username='jhirschi')

Loading library list...
Done

### Initial Exploration of the Datasets available to us from WRDS

In [ ]:
db.list_libraries()

In [ ]:
db.list_tables(library='ibes')

In [ ]:
#a quick way to find out which schemas we actually have access to in WRDS Compustat
libs = db.list_tables(library='ibes')
for lib in libs:
    try:
        db.get_table(library='ibes', table=lib, obs=10)
        print('Success!! This table works: ', lib)
    except Exception:
        pass

In [ ]:
db.list_tables(library='comp')

In [ ]:
#a quick way to find out which schemas we actually have access to in WRDS Compustat
libs = db.list_tables(library='comp')
for lib in libs:
    try:
        db.get_table(library='comp', table=lib, obs=10)
        print('Success!! This table works: ', lib)
    except Exception:
        pass

In [ ]:
#a quick way to find out which schemas we actually have access to in WRDS CRSP
libs = db.list_tables(library='crsp')
for lib in libs:
    try:
        db.get_table(library='crsp', table=lib, obs=10)
        print('Success!! This table works: ', lib)
    except Exception:
        pass

### Begin filtering list of unique tickers/cusips/identifiers

In [28]:
db.get_table(library='crsp', table='stocknames', obs=10)

,permno,permco,namedt,nameenddt,cusip,ncusip,ticker,comnam,hexcd,exchcd,siccd,shrcd,shrcls,st_date,end_date,namedum
0,10000.0,7952.0,1986-01-07,1987-06-11,68391610,68391610,OMFGA,OPTIMUM MANUFACTURING INC,3.0,3.0,3990.0,10.0,A,1986-01-31,1987-06-30,2.0
1,10001.0,7953.0,1986-01-09,1993-11-21,36720410,39040610,GFGC,GREAT FALLS GAS CO,2.0,3.0,4920.0,11.0,None,1986-01-31,2017-08-31,2.0
2,10001.0,7953.0,1993-11-22,2008-02-04,36720410,29274A10,EWST,ENERGY WEST INC,2.0,3.0,4920.0,11.0,None,1986-01-31,2017-08-31,2.0
3,10001.0,7953.0,2008-02-05,2009-08-03,36720410,29274A20,EWST,ENERGY WEST INC,2.0,3.0,4920.0,11.0,None,1986-01-31,2017-08-31,2.0
4,10001.0,7953.0,2009-08-04,2009-12-17,36720410,29269V10,EGAS,ENERGY INC,2.0,3.0,4920.0,11.0,None,1986-01-31,2017-08-31,2.0
5,10001.0,7953.0,2009-12-18,2010-07-08,36720410,29269V10,EGAS,ENERGY INC,2.0,2.0,4925.0,11.0,None,1986-01-31,2017-08-31,2.0
6,10001.0,7953.0,2010-07-09,2017-08-03,36720410,36720410,EGAS,GAS NATURAL INC,2.0,2.0,4925.0,11.0,None,1986-01-31,2017-08-31,2.0
7,10002.0,7954.0,1986-01-10,1993-09-29,05978R10,60740110,MBNC,MOBILE NATIONAL CORP,3.0,3.0,6710.0,10.0,None,1986-01-31,2013-02-28,2.0
8,10002.0,7954.0,1993-09-30,2002-05-14,05978R10,83623410,SABC,SOUTH ALABAMA BANCORPORATION IN,3.0,3.0,6710.0,11.0,None,1986-01-31,2013-02-28,2.0
9,10002.0,7954.0,2002-05-15,2013-02-15,05978R10,05978R10,BTFG,BANCTRUST FINANCIAL GROUP INC,3.0,3.0,6020.0,11.0,None,1986-01-31,2013-02-28,2.0

In [78]:
#make initial pull to get identifying info for the companies in the db that currently exist
#then we group them by the exchange they are on
stk_names = db.raw_sql(''' select permno, permco, cusip, ncusip, ticker, comnam, exchcd, namedt, nameenddt, st_date, end_date from crsp.stocknames where end_date = '2019-12-31' ''')
stk_names[['ticker', 'exchcd']].groupby('exchcd').count()

        ticker
exchcd
-2.0         8
-1.0        40
 0.0         0
 1.0      4455
 2.0      1458
 3.0      5806
 4.0      2233
 5.0       363
 6.0         1
 31.0       16
 32.0        6
 33.0        3

Will only look at companies on exchanges 1 - 5

In [79]:
#add filters to get our selection of companies for which we will need matches
#each row is the most recent version of the company name/ticker/cusip of all the available versions
#this is our "names" dataframe
names = stk_names.loc[(~stk_names['ticker'].isnull())&(stk_names['exchcd'].isin([1,2,3,4,5]))].copy()
names.drop_duplicates(subset=['permno', 'permco', 'cusip', 'ncusip', 'ticker'], keep='first', inplace=True)
names.drop_duplicates(subset=['permno', 'permco', 'cusip'], keep='last', inplace=True)
names

,permno,permco,cusip,ncusip,ticker,comnam,exchcd,namedt,nameenddt,st_date,end_date
0,10026.0,7976.0,46603210,46603210,JJSF,J & J SNACK FOODS CORP,3.0,1986-02-04,2019-12-31,1986-02-28,2019-12-31
12,10028.0,7978.0,29402E10,29402E10,ELA,ENVELA CORP,2.0,2019-12-18,2019-12-31,1986-02-28,2019-12-31
13,10032.0,7980.0,72913210,72913210,PLXS,PLEXUS CORP,3.0,1986-02-05,2019-12-31,1986-02-28,2019-12-31
16,10044.0,7992.0,77467X10,77467X10,RMCF,ROCKY MOUNTAIN CHOC FAC INC NEW,3.0,2015-03-02,2019-12-31,1986-02-28,2019-12-31
21,10051.0,7999.0,41043F20,41043F20,HGR,HANGER ORTHOPEDIC GROUP INC,2.0,1991-05-01,1998-12-14,1986-02-28,2019-12-31
...,...,...,...,...,...,...,...,...,...,...,...
14995,93426.0,53443.0,92835K10,92835K10,VPG,VISHAY PRECISION GROUP INC,1.0,2010-07-07,2019-12-31,2010-07-30,2019-12-31
14996,93427.0,53445.0,G3323L10,G3323L10,FN,FABRINET,1.0,2010-06-25,2019-12-31,2010-06-30,2019-12-31
14997,93429.0,53447.0,12503M10,12503M10,CBOE,C B O E HOLDINGS INC,3.0,2010-06-15,2017-10-17,2010-06-30,2019-12-31
15000,93434.0,53427.0,78513510,78513510,SANW,S & W SEED CO,3.0,2010-06-14,2019-12-31,2010-06-30,2019-12-31
15001,93436.0,53453.0,88160R10,88160R10,TSLA,TESLA MOTORS INC,3.0,2010-06-29,2017-02-01,2010-06-30,2019-12-31

Needed to filter to unique permno/permco/cusip. These identifiers will enable us to match data across the databases, despite the fact that companies relist themselves on different exchanges and change tickers regularly

### Below, will match each company with it's fiscal dates to figure out when its quarterly financial statements are released

##### Get the GVKEY matches, evaluate quality of matches and merge into single table

In [16]:
def get_gvkey_match(cusip):
    df= db.raw_sql('''
    select a.conm, a.gvkey, a.naics, b.cusip as long_cusip, left(b.cusip, 8) as cusip, b.tic from comp.company a 
    left join comp.security b
    on a.gvkey = b.gvkey
    where left(b.cusip, 8) ='{}' '''.format(cusip))
    return df

In [67]:
def evaluate_match(comp, crsp):
    #evaluate precision of cusip match (only one row), ticker match, and company name match
    if len(comp) == 1 and comp['cusip'].iloc[0]==crsp.cusip:
        comp['cusip_score']=1
        comp['ticker_match_score']=fuzz.ratio(comp['tic'].iloc[0], crsp.ticker)
        comp['name_match_score']=fuzz.partial_ratio(comp['conm'].iloc[0], crsp.comnam)
    else:
        comp['cusip_score']=0
    return comp

In [61]:
def get_matches_from_names(names): #the loop function. Requires a "names" dataframe
    match = []
    for ent in names.itertuples():
        temp = get_gvkey_match(ent.cusip)
        temp = evaluate_match(temp, ent)
        match.append(temp)
    match = pd.concat(match)
    names = names.merge(match, how = 'left', on='cusip')
    return names

In [75]:
def clean_up_matches(names):
    names['average_match_score']=names[['ticker_match_score', 'name_match_score']].mean(axis=1)
    names = names.loc[(names['cusip_score']==1) & (names['average_match_score']>75)].copy()
    names = names[['permno', 'permco', 'ncusip', 'cusip', 'ticker', 'comnam', 'tic', 'conm', 'gvkey', 'long_cusip', 'naics', 'exchcd', 'namedt', 'nameenddt', 'st_date', 'end_date', 'cusip_score', 'ticker_match_score', 'name_match_score', 'average_match_score']]
    return names

In [80]:
#get all the matches for the CRSP companies in the "names" dataframe
names = get_matches_from_names(names)
names = clean_up_matches(names)

In [82]:
names[['ticker_match_score', 'name_match_score', 'average_match_score']].mean(axis=0)

ticker_match_score     99.701990
name_match_score       88.224279
average_match_score    93.963134
dtype: float64

In [83]:
names.to_csv('company_names_matched.csv', index=0)

In [86]:
names.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6483 entries, 0 to 7878
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   permno               6483 non-null   float64
 1   permco               6483 non-null   float64
 2   ncusip               6483 non-null   object
 3   cusip                6483 non-null   object
 4   ticker               6483 non-null   object
 5   comnam               6483 non-null   object
 6   tic                  6483 non-null   object
 7   conm                 6483 non-null   object
 8   gvkey                6483 non-null   object
 9   long_cusip           6483 non-null   object
 10  naics                6119 non-null   object
 11  exchcd               6483 non-null   float64
 12  namedt               6483 non-null   object
 13  nameenddt            6483 non-null   object
 14  st_date              6483 non-null   object
 15  end_date             6483 non-null   object
 16  cusip_score          6483 non-null   float64
 17  ticker_match_score   6483 non-null   float64
 18  name_match_score     6483 non-null   float64
 19  average_match_score  6483 non-null   float64
dtypes: float64(7), object(13)
memory usage: 1.0+ MB

##### Get the quarterly statement dates

In [20]:
db.describe_table(library='comp', table='fundq').name.tolist()

Approximately 1817440 rows in comp.fundq.

['gvkey',
 'datadate',
 'fyearq',
 'fqtr',
 'fyr',
 'indfmt',
 'consol',
 'popsrc',
 'datafmt',
 'tic',
 'cusip',
 'conm',
 'acctchgq',
 'acctstdq',
 'adrrq',
 'ajexq',
 'ajpq',
 'bsprq',
 'compstq',
 'curcdq',
 'curncdq',
 'currtrq',
 'curuscnq',
 'datacqtr',
 'datafqtr',
 'finalq',
 'ogmq',
 'rp',
 'scfq',
 'srcq',
 'staltq',
 'updq',
 'apdedateq',
 'fdateq',
 'pdateq',
 'rdq',
 'acchgq',
 'acomincq',
 'acoq',
 'actq',
 'altoq',
 'ancq',
 'anoq',
 'aociderglq',
 'aociotherq',
 'aocipenq',
 'aocisecglq',
 'aol2q',
 'aoq',
 'apq',
 'aqaq',
 'aqdq',
 'aqepsq',
 'aqpl1q',
 'aqpq',
 'arcedq',
 'arceepsq',
 'arceq',
 'atq',
 'aul3q',
 'billexceq',
 'capr1q',
 'capr2q',
 'capr3q',
 'capsftq',
 'capsq',
 'ceiexbillq',
 'ceqq',
 'cheq',
 'chq',
 'cibegniq',
 'cicurrq',
 'ciderglq',
 'cimiiq',
 'ciotherq',
 'cipenq',
 'ciq',
 'cisecglq',
 'citotalq',
 'cogsq',
 'csh12q',
 'cshfd12',
 'cshfdq',
 'cshiq',
 'cshopq',
 'cshoq',
 'cshprq',
 'cstkcvq',
 'cstkeq',
 'cstkq',
 'dcomq',
 'dd1q',
 'deracq',
 'deraltq',
 'derhedglq',
 'derlcq',
 'derlltq',
 'diladq',
 'dilavq',
 'dlcq',
 'dlttq',
 'doq',
 'dpacreq',
 'dpactq',
 'dpq',
 'dpretq',
 'drcq',
 'drltq',
 'dteaq',
 'dtedq',
 'dteepsq',
 'dtepq',
 'dvintfq',
 'dvpq',
 'epsf12',
 'epsfi12',
 'epsfiq',
 'epsfxq',
 'epspi12',
 'epspiq',
 'epspxq',
 'epsx12',
 'esopctq',
 'esopnrq',
 'esoprq',
 'esoptq',
 'esubq',
 'fcaq',
 'ffoq',
 'finacoq',
 'finaoq',
 'finchq',
 'findlcq',
 'findltq',
 'finivstq',
 'finlcoq',
 'finltoq',
 'finnpq',
 'finreccq',
 'finrecltq',
 'finrevq',
 'finxintq',
 'finxoprq',
 'gdwlamq',
 'gdwlia12',
 'gdwliaq',
 'gdwlid12',
 'gdwlidq',
 'gdwlieps12',
 'gdwliepsq',
 'gdwlipq',
 'gdwlq',
 'glaq',
 'glcea12',
 'glceaq',
 'glced12',
 'glcedq',
 'glceeps12',
 'glceepsq',
 'glcepq',
 'gldq',
 'glepsq',
 'glivq',
 'glpq',
 'hedgeglq',
 'ibadj12',
 'ibadjq',
 'ibcomq',
 'ibmiiq',
 'ibq',
 'icaptq',
 'intaccq',
 'intanoq',
 'intanq',
 'invfgq',
 'invoq',
 'invrmq',
 'invtq',
 'invwipq',
 'ivaeqq',
 'ivaoq',
 'ivltq',
 'ivstq',
 'lcoq',
 'lctq',
 'lltq',
 'lnoq',
 'lol2q',
 'loq',
 'loxdrq',
 'lqpl1q',
 'lseq',
 'ltmibq',
 'ltq',
 'lul3q',
 'mibnq',
 'mibq',
 'mibtq',
 'miiq',
 'msaq',
 'ncoq',
 'niitq',
 'nimq',
 'niq',
 'nopiq',
 'npatq',
 'npq',
 'nrtxtdq',
 'nrtxtepsq',
 'nrtxtq',
 'obkq',
 'oepf12',
 'oeps12',
 'oepsxq',
 'oiadpq',
 'oibdpq',
 'opepsq',
 'optdrq',
 'optfvgrq',
 'optlifeq',
 'optrfrq',
 'optvolq',
 'piq',
 'pllq',
 'pnc12',
 'pncd12',
 'pncdq',
 'pnceps12',
 'pncepsq',
 'pnciapq',
 'pnciaq',
 'pncidpq',
 'pncidq',
 'pnciepspq',
 'pnciepsq',
 'pncippq',
 'pncipq',
 'pncpd12',
 'pncpdq',
 'pncpeps12',
 'pncpepsq',
 'pncpq',
 'pncq',
 'pncwiapq',
 'pncwiaq',
 'pncwidpq',
 'pncwidq',
 'pncwiepq',
 'pncwiepsq',
 'pncwippq',
 'pncwipq',
 'pnrshoq',
 'ppegtq',
 'ppentq',
 'prcaq',
 'prcd12',
 'prcdq',
 'prce12',
 'prceps12',
 'prcepsq',
 'prcpd12',
 'prcpdq',
 'prcpeps12',
 'prcpepsq',
 'prcpq',
 'prcraq',
 'prshoq',
 'pstknq',
 'pstkq',
 'pstkrq',
 'rcaq',
 'rcdq',
 'rcepsq',
 'rcpq',
 'rdipaq',
 'rdipdq',
 'rdipepsq',
 'rdipq',
 'recdq',
 'rectaq',
 'rectoq',
 'rectq',
 'rectrq',
 'recubq',
 'req',
 'retq',
 'reunaq',
 'revtq',
 'rllq',
 'rra12',
 'rraq',
 'rrd12',
 'rrdq',
 'rreps12',
 'rrepsq',
 'rrpq',
 'rstcheltq',
 'rstcheq',
 'saleq',
 'seqoq',
 'seqq',
 'seta12',
 'setaq',
 'setd12',
 'setdq',
 'seteps12',
 'setepsq',
 'setpq',
 'spce12',
 'spced12',
 'spcedpq',
 'spcedq',
 'spceeps12',
 'spceepsp12',
 'spceepspq',
 'spceepsq',
 'spcep12',
 'spcepd12',
 'spcepq',
 'spceq',
 'spidq',
 'spiepsq',
 'spioaq',
 'spiopq',
 'spiq',
 'sretq',
 'stkcoq',
 'stkcpaq',
 'teqq',
 'tfvaq',
 'tfvceq',
 'tfvlq',
 'tieq',
 'tiiq',
 'tstknq',
 'tstkq',
 'txdbaq',
 'txdbcaq',
 'txdbclq',
 'txdbq',
 'txdiq',
 'txditcq',
 'txpq',
 'txtq',
 'txwq',
 'uacoq',
 'uaoq',
 'uaptq',
 'ucapsq',
 'ucconsq',
 'uceqq',
 'uddq',
 'udmbq',
 'udoltq',
 'udpcoq',
 'udvpq',
 'ugiq',
 'uinvq',
 'ulcoq',
 'uniamiq',
 'unopincq',
 'uopiq',
 'updvpq',
 'upmcstkq',
 'upmpfq',
 'upmpfsq',
 'upmsubpq',
 'upstkcq',
 'upstkq',
 'urectq',
 'uspiq',
 'usubdvpq',
 'usubpcvq',
 'utemq',
 'wcapq',
 'wdaq',
 'wddq',
 'wdepsq',
 'wdpq',
 'xaccq',
 'xidoq',
 'xintq',
 'xiq',
 'xoprq',
 'xopt12',
 'xoptd12',
 'xoptd12p',
 'xoptdq',
 'xoptdqp',
 'xopteps12',
 'xoptepsp12',
 'xoptepsq',
 'xoptepsqp',
 'xoptq',
 'xoptqp',
 'xrdq',
 'xsgaq',
 'acchgy',
 'afudccy',
 'afudciy',
 'amcy',
 'aolochy',
 'apalchy',
 'aqay',
 'aqcy',
 'aqdy',
 'aqepsy',
 'aqpy',
 'arcedy',
 'arceepsy',
 'arcey',
 'capxy',
 'cdvcy',
 'chechy',
 'cibegniy',
 'cicurry',
 'cidergly',
 'cimiiy',
 'ciothery',
 'cipeny',
 'cisecgly',
 'citotaly',
 'ciy',
 'cogsy',
 'cshfdy',
 'cshpry',
 'cstkey',
 'depcy',
 'derhedgly',
 'dilady',
 'dilavy',
 'dlcchy',
 'dltisy',
 'dltry',
 'doy',
 'dpcy',
 'dprety',
 'dpy',
 'dteay',
 'dtedy',
 'dteepsy',
 'dtepy',
 'dvpy',
 'dvy',
 'epsfiy',
 'epsfxy',
 'epspiy',
 'epspxy',
 'esubcy',
 'esuby',
 'exrey',
 'fcay',
 'ffoy',
 'fiaoy',
 'fincfy',
 'finrevy',
 'finxinty',
 'finxopry',
 'fopoxy',
 'fopoy',
 'fopty',
 'fsrcoy',
 'fsrcty',
 'fuseoy',
 'fusety',
 'gdwlamy',
 'gdwliay',
 'gdwlidy',
 'gdwliepsy',
 'gdwlipy',
 'glay',
 'glceay',
 'glcedy',
 'glceepsy',
 'glcepy',
 'gldy',
 'glepsy',
 'glivy',
 'glpy',
 'hedgegly',
 'ibadjy',
 'ibcomy',
 'ibcy',
 'ibmiiy',
 'iby',
 'intpny',
 'invchy',
 'itccy',
 'ivacoy',
 'ivchy',
 'ivncfy',
 'ivstchy',
 'miiy',
 'ncoy',
 'niity',
 'nimy',
 'niy',
 'nopiy',
 'nrtxtdy',
 'nrtxtepsy',
 'nrtxty',
 'oancfy',
 'oepsxy',
 'oiadpy',
 'oibdpy',
 'opepsy',
 'optdry',
 'optfvgry',
 'optlifey',
 'optrfry',
 'optvoly',
 'pdvcy',
 'piy',
 'plly',
 'pncdy',
 'pncepsy',
 'pnciapy',
 'pnciay',
 'pncidpy',
 'pncidy',
 'pnciepspy',
 'pnciepsy',
 'pncippy',
 'pncipy',
 'pncpdy',
 'pncpepsy',
 'pncpy',
 'pncwiapy',
 'pncwiay',
 'pncwidpy',
 'pncwidy',
 'pncwiepsy',
 'pncwiepy',
 'pncwippy',
 'pncwipy',
 'pncy',
 'prcay',
 'prcdy',
 'prcepsy',
 'prcpdy',
 'prcpepsy',
 'prcpy',
 'prstkccy',
 'prstkcy',
 'prstkpcy',
 'rcay',
 'rcdy',
 'rcepsy',
 'rcpy',
 'rdipay',
 'rdipdy',
 'rdipepsy',
 'rdipy',
 'recchy',
 'revty',
 'rray',
 'rrdy',
 'rrepsy',
 'rrpy',
 'saley',
 'scstkcy',
 'setay',
 'setdy',
 'setepsy',
 'setpy',
 'sivy',
 'spcedpy',
 'spcedy',
 'spceepspy',
 'spceepsy',
 'spcepy',
 'spcey',
 'spidy',
 'spiepsy',
 'spioay',
 'spiopy',
 'spiy',
 'sppey',
 'sppivy',
 'spstkcy',
 'srety',
 'sstky',
 'stkcoy',
 'stkcpay',
 'tdcy',
 'tfvcey',
 'tiey',
 'tiiy',
 'tsafcy',
 'txachy',
 'txbcofy',
 'txbcoy',
 'txdcy',
 'txdiy',
 'txpdy',
 'txty',
 'txwy',
 'uaolochy',
 'udfccy',
 'udvpy',
 'ufretsdy',
 'ugiy',
 'uniamiy',
 'unopincy',
 'unwccy',
 'uoisy',
 'updvpy',
 'uptacy',
 'uspiy',
 'ustdncy',
 'usubdvpy',
 'utfdocy',
 'utfoscy',
 'utmey',
 'uwkcapcy',
 'wcapchy',
 'wcapcy',
 'wday',
 'wddy',
 'wdepsy',
 'wdpy',
 'xidocy',
 'xidoy',
 'xinty',
 'xiy',
 'xopry',
 'xoptdqpy',
 'xoptdy',
 'xoptepsqpy',
 'xoptepsy',
 'xoptqpy',
 'xopty',
 'xrdy',
 'xsgay',
 'iid',
 'exchg',
 'cik',
 'costat',
 'fic',
 'cshtrq',
 'dvpspq',
 'dvpsxq',
 'mkvaltq',
 'prccq',
 'prchq',
 'prclq',
 'adjex']

In [3]:
def get_5_years_of_earnings(gvkey, ticker, long_cusip):
    df = db.raw_sql('''
    select gvkey, tic, cusip as long_cusip, fyr, fqtr, fyearq, datadate, rdq 
    from comp.fundq 
    where tic = '{0}'
    and gvkey= '{1}'
    and cusip = '{2}' 
    and datadate > '2015-06-01'
    order by rdq asc
    '''.format(ticker, gvkey, long_cusip))
    return df

In [100]:
#example of how earnings events appear
get_5_years_of_earnings('012825', 'JJSF', '466032109')

     gvkey   tic      cusip  fyr  fqtr  fyearq    datadate         rdq
0   012825  JJSF  466032109  9.0   3.0  2015.0  2015-06-30  2015-07-27
1   012825  JJSF  466032109  9.0   4.0  2015.0  2015-09-30  2015-11-05
2   012825  JJSF  466032109  9.0   1.0  2016.0  2015-12-31  2016-01-25
3   012825  JJSF  466032109  9.0   2.0  2016.0  2016-03-31  2016-04-25
4   012825  JJSF  466032109  9.0   3.0  2016.0  2016-06-30  2016-07-25
5   012825  JJSF  466032109  9.0   4.0  2016.0  2016-09-30  2016-11-03
6   012825  JJSF  466032109  9.0   1.0  2017.0  2016-12-31  2017-01-23
7   012825  JJSF  466032109  9.0   2.0  2017.0  2017-03-31  2017-04-24
8   012825  JJSF  466032109  9.0   3.0  2017.0  2017-06-30  2017-07-24
9   012825  JJSF  466032109  9.0   4.0  2017.0  2017-09-30  2017-11-09
10  012825  JJSF  466032109  9.0   1.0  2018.0  2017-12-31  2018-01-29
11  012825  JJSF  466032109  9.0   2.0  2018.0  2018-03-31  2018-04-30
12  012825  JJSF  466032109  9.0   3.0  2018.0  2018-06-30  2018-07-30
13  012825  JJSF  466032109  9.0   4.0  2018.0  2018-09-30  2018-11-08
14  012825  JJSF  466032109  9.0   1.0  2019.0  2018-12-31  2019-01-28
15  012825  JJSF  466032109  9.0   2.0  2019.0  2019-03-31  2019-04-29
16  012825  JJSF  466032109  9.0   3.0  2019.0  2019-06-30  2019-07-29
17  012825  JJSF  466032109  9.0   4.0  2019.0  2019-09-30  2019-11-07
18  012825  JJSF  466032109  9.0   1.0  2020.0  2019-12-31  2020-01-27
19  012825  JJSF  466032109  9.0   2.0  2020.0  2020-03-31  2020-04-27

In [102]:
def build_statements_table(names):
    earnings = []
    temp = names[['gvkey', 'long_cusip', 'tic']].values
    for ent in temp:
        dates = get_5_years_of_earnings(ent[0], ent[2], ent[1])
        earnings.append(dates)
    earnings = pd.concat(earnings)
    return earnings

In [103]:
earnings = build_statements_table(names)

In [121]:
#consolidate the final earnings table to all needed points for price pulls
final_earnings = names.merge(earnings, how='left', on=['gvkey', 'tic', 'long_cusip'])
final_earnings=final_earnings.loc[(~final_earnings['rdq'].isnull())&(final_earnings['rdq']<='2019-12-20')].copy()
final_earnings.drop(['ncusip', 'tic', 'conm', 'long_cusip', 'namedt', 'nameenddt', 'st_date', 'end_date',
                     'cusip_score', 'ticker_match_score', 'name_match_score', 'average_match_score'], axis=1, inplace=True)
#final_earnings.to_csv('earnings_dates.csv', index=False)
final_earnings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 79608 entries, 0 to 118403
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   permno    79608 non-null  float64
 1   permco    79608 non-null  float64
 2   cusip     79608 non-null  object
 3   ticker    79608 non-null  object
 4   comnam    79608 non-null  object
 5   gvkey     79608 non-null  object
 6   naics     79608 non-null  object
 7   exchcd    79608 non-null  float64
 8   fyr       79608 non-null  float64
 9   fqtr      79557 non-null  float64
 10  fyearq    79608 non-null  float64
 11  datadate  79608 non-null  object
 12  rdq       79608 non-null  object
dtypes: float64(6), object(7)
memory usage: 8.5+ MB

In [2]:
names = pd.read_csv('company_names_matched.csv')
final_earnings=pd.read_csv('earnings_dates.csv')

### Below will perform analysis on all companies in our list so far to determine what a threshold of a "big move" around earnings time is. We will begin building a labeled dataset as we engineer features to input into our final model

##### Determining threshold for what moves at earnings time are of interest

We don't want to look at moves that are too big (could be resulting from a one time corporate action, a price split/reverse split, etc). We also don't want to look at moves that are big % wise but are too small nominally to be of much use in an options play. Looking at a sweet spot where there is atleast a certain size % change and also a big enough $ change, but not so big as to be a result of something other than what is a pure result of the earnings results

In [ ]:
db.describe_table(library='crsp', table='dsf')

In [11]:
def get_20_trading_days(date,permno, cusip):
    date = dt.datetime.strptime(date, '%Y-%m-%d').date()
    st_dt = date+dt.timedelta(days=-14)
    end_dt = date+dt.timedelta(days=14)
    df = db.raw_sql('''
    select cusip, permno, date, prc, vol/1000 as vol, shrout, cfacpr, cfacshr, numtrd, 
    (prc * cfacpr) as adj_prc, (shrout *cfacshr) as adj_shares, (vol/(shrout*cfacshr*1000)) as pct_traded,
    case when prc != (prc*cfacpr) then 1 else 0 end as adj
    from crsp.dsf
    where date >= '{0}'
    and date <= '{1}'
    and permno = {2}
    and cusip = '{3}'
    and cfacshr > 0
    and shrout > 0
    '''.format(st_dt, end_dt, permno, cusip))
    return df

In [ ]:
#taking a random sample of 1000 earnings events to test different nominal and percentage changes for my thresholds
#test for daily returns, 2 day returns, 5 day returns, 10 day returns, and 20 day returns. 
#As well as volatility over the entire period

#graph some histograms of the distributions of your samples for volatility, and for returns, and nominal changes. 
#

In [7]:
trad = get_20_trading_days('2019-10-30' , 14593, '03783310')

In [4]:
def evaluate_earnings(date, permno, cusip, pct_thresh=0.07, nom_thresh=6, cum_pct_thresh_1=0.12, 
                      cum_nom_thresh_1=10, cum_pct_thresh_2=0.12, cum_nom_thresh_2=10 ):
    df = get_20_trading_days(date, permno, cusip)
    if df.empty:
        return ['Error']
    
    days=len(df['adj_prc'])
    if days<=7:
        return ['Error']
    
    #evaluates the pct and nom diffs
    try:
        pct_diff = df['adj_prc'].pct_change()
        nom_diff = df['adj_prc'].diff()
        max_pct_diff = pct_diff.max()
        max_nom_diff=nom_diff.max()
    except Exception:
        return ['Error']
    
    #evaluates the cumulate pct and nom diffs
    start, end = 0, 4
    cum_pct_diff = []
    cum_nom_diff = []
    while end< days:
        cum_pct_diff.append(pct_diff.iloc[start:end].sum())
        cum_nom_diff.append(nom_diff.iloc[start:end].sum())
        start+=1
        end+=1
    max_cum_pct_diff = max(cum_pct_diff)
    max_cum_nom_diff = max(cum_nom_diff)
    
    #evaluates the cumulate pct and nom diffs level 2
    start, end = 0, 7
    cum_pct_diff_2 = []
    cum_nom_diff_2 = []
    while end< days:
        cum_pct_diff_2.append(pct_diff.iloc[start:end].sum())
        cum_nom_diff_2.append(nom_diff.iloc[start:end].sum())
        start+=1
        end+=1
    max_cum_pct_diff_2 = max(cum_pct_diff_2)
    max_cum_nom_diff_2 = max(cum_nom_diff_2)
    
    #boolean checks
    move_pct = max_pct_diff > pct_thresh
    move_cum_pct_1 = max_cum_pct_diff > cum_pct_thresh_1
    move_cum_pct_2 = max_cum_pct_diff_2 > cum_pct_thresh_2
    
    move_nom = max_nom_diff > nom_thresh
    move_cum_nom_1 = max_cum_nom_diff > cum_nom_thresh_1
    move_cum_nom_2 = max_cum_nom_diff_2 > cum_nom_thresh_2
    
    return move_pct, move_nom, move_cum_pct_1, move_cum_nom_1, move_cum_pct_2, move_cum_nom_2,

In [50]:
test = get_20_trading_days('2018-04-23', 56641.0, '02927U20' )

In [77]:
sample = final_earnings.sample(n=600)
sample

,permno,permco,cusip,ticker,comnam,gvkey,naics,exchcd,fyr,fqtr,fyearq,datadate,rdq
57923,85337.0,32078.0,45646310,IBA,INDUSTRIAS BACHOCO S A DE C V,221545,311615,1.0,12.0,3.0,2015.0,2015-09-30,2015-10-22
44471,76076.0,10486.0,17275R10,CSCO,CISCO SYSTEMS INC,20779,334210,3.0,7.0,1.0,2019.0,2018-10-31,2018-11-14
12700,14521.0,54772.0,89628810,TNET,TRINET GROUP INC,140988,518210,1.0,12.0,2.0,2018.0,2018-06-30,2018-07-30
69655,90427.0,45732.0,88268110,TXRH,TEXAS ROADHOUSE INC,160376,722511,3.0,12.0,4.0,2017.0,2017-12-31,2018-02-20
31169,18426.0,56666.0,Y2067610,DSSI,DIAMOND S SHIPPING INC,34956,483111,1.0,12.0,4.0,2018.0,2018-12-31,2019-03-11
...,...,...,...,...,...,...,...,...,...,...,...,...,...
74295,91742.0,51660.0,83558L20,SNOA,SONOMA PHARMACEUTICALS INC,175424,325412,3.0,3.0,1.0,2015.0,2015-06-30,2015-07-30
43775,75416.0,21995.0,74971D10,RPT,R P T REALTY,15111,531120,1.0,12.0,2.0,2015.0,2015-06-30,2015-07-21
27503,17251.0,56220.0,65441V10,NINE,NINE ENERGY SERVICES INC,31507,213112,1.0,12.0,3.0,2018.0,2018-09-30,2018-11-12
51253,80498.0,13092.0,03076K10,ABCB,AMERIS BANCORP,30222,522110,3.0,12.0,4.0,2016.0,2016-12-31,2017-01-20
59757,86111.0,34770.0,03027X10,AMT,AMERICAN TOWER CORP NEW,105365,531120,1.0,12.0,1.0,2018.0,2018-03-31,2018-05-01

In [5]:
def get_aggregate_earnings_evals(df, pct_thresh=0.07, nom_thresh=6, cum_pct_thresh_1=0.12, 
                      cum_nom_thresh_1=10, cum_pct_thresh_2=0.12, cum_nom_thresh_2=10 ):
    evals = []
    counter = 0
    keys=['move_pct', 'move_nom', 'move_cum_pct_1', 'move_cum_nom_1', 'move_cum_pct_2', 'move_cum_nom_2']
    try:
        for row in df.itertuples():
            #print(counter)
            temp = evaluate_earnings(row.rdq, row.permno, row.cusip, pct_thresh=pct_thresh, nom_thresh=nom_thresh, 
                                     cum_pct_thresh_1=cum_pct_thresh_1, cum_pct_thresh_2=cum_pct_thresh_2, 
                                     cum_nom_thresh_2=cum_nom_thresh_2)
            if 'Error' in temp:
                evals.append({'rdq':row.rdq, 'permno':row.permno, 'cusip':row.cusip, 'Error':True})
            else:
                temp = [1 if x == True else 0 for x in temp]
                temp = {key:val for key, val in zip(keys, temp)}
                temp = {**temp, **{'rdq':row.rdq, 'permno':row.permno, 'cusip':row.cusip, 'Error':False}}
                evals.append(temp)
            counter+=1
            if counter%100 ==0:
                print(counter)    
        evals = pd.DataFrame(evals)    
        return evals
    
    except Exception:
        print('It broke here:', counter)
        return pd.DataFrame(evals)

In [81]:
eval_sample = get_aggregate_earnings_evals(sample)

100
200
300
400
500
600

In [82]:
eval_sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   move_pct        574 non-null    float64
 1   move_nom        574 non-null    float64
 2   move_cum_pct_1  574 non-null    float64
 3   move_cum_nom_1  574 non-null    float64
 4   move_cum_pct_2  574 non-null    float64
 5   move_cum_nom_2  574 non-null    float64
 6   rdq             600 non-null    object
 7   permno          600 non-null    float64
 8   cusip           600 non-null    object
 9   Error           600 non-null    bool
dtypes: bool(1), float64(7), object(2)
memory usage: 42.9+ KB

In [93]:
temp_eval=eval_sample.loc[~eval_sample['move_nom'].isnull()].copy()
temp_eval.to_csv('sample_evals.csv', index=False)

##### test for big moves around those dates for the 10 trading days before/after the announcement for the last 5 years

In [13]:
final_eval = get_aggregate_earnings_evals(final_earnings)

100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900
2000
2100
2200
2300
2400
2500
2600
2700
2800
2900
3000
3100
3200
3300
3400
3500
3600
3700
3800
3900
4000
4100
4200
4300
4400
4500
4600
4700
4800
4900
5000
5100
5200
5300
5400
5500
5600
5700
5800
5900
6000
6100
6200
6300
6400
6500
6600
6700
6800
6900
7000
7100
7200
7300
7400
7500
7600
7700
7800
7900
8000
8100
8200
8300
8400
8500
8600
8700
8800
8900
9000
9100
9200
9300
9400
9500
9600
9700
9800
9900
10000
10100
10200
10300
10400
10500
10600
10700
10800
10900
11000
11100
11200
11300
11400
11500
11600
11700
11800
11900
12000
12100
12200
12300
12400
12500
12600
12700
12800
12900
13000
13100
13200
13300
13400
13500
13600
13700
13800
13900
14000
14100
14200
14300
14400
14500
14600
14700
14800
14900
15000
15100
15200
15300
15400
15500
15600
15700
15800
15900
16000
16100
16200
16300
16400
16500
16600
16700
16800
16900
17000
17100
17200
17300
17400
17500
17600
17700
17800
17900
18000
18100
18200
18300
18400
18500
18600
18700
18800
18900
19000
19100
19200
19300
19400
19500
19600
19700
19800
19900
20000
20100
20200
20300
20400
20500
20600
20700
20800
20900
21000
21100
21200
21300
21400
21500
21600
21700
21800
21900
22000
22100
22200
22300
22400
22500
22600
22700
22800
22900
23000
23100
23200
23300
23400
23500
23600
23700
23800
23900
24000
24100
24200
24300
24400
24500
24600
24700
24800
24900
25000
25100
25200
25300
25400
25500
25600
25700
25800
25900
26000
26100
26200
26300
26400
26500
26600
26700
26800
26900
27000
27100
27200
27300
27400
27500
27600
27700
27800
27900
28000
28100
28200
28300
28400
28500
28600
28700
28800
28900
29000
29100
29200
29300
29400
29500
29600
29700
29800
29900
30000
30100
30200
30300
30400
30500
30600
30700
30800
30900
31000
31100
31200
31300
31400
31500
31600
31700
31800
31900
32000
32100
32200
32300
32400
32500
32600
32700
32800
32900
33000
33100
33200
33300
33400
33500
33600
33700
33800
33900
34000
34100
34200
34300
34400
34500
34600
34700
34800
34900
35000
35100
35200
35300
35400
35500
35600
35700
35800
35900
36000
36100
36200
36300
36400
36500
36600
36700
36800
36900
37000
37100
37200
37300
37400
37500
37600
37700
37800
37900
38000
38100
38200
38300
38400
38500
38600
38700
38800
38900
39000
39100
39200
39300
39400
39500
39600
39700
39800
39900
40000
40100
40200
40300
40400
40500
40600
40700
40800
40900
41000
41100
41200
41300
41400
41500
41600
41700
41800
41900
42000
42100
42200
42300
42400
42500
42600
42700
42800
42900
43000
43100
43200
43300
43400
43500
43600
43700
43800
43900
44000
44100
44200
44300
44400
44500
44600
44700
44800
44900
45000
45100
45200
45300
45400
45500
45600
45700
45800
45900
46000
46100
46200
46300
46400
46500
46600
46700
46800
46900
47000
47100
47200
47300
47400
47500
47600
47700
47800
47900
48000
48100
48200
48300
48400
48500
48600
48700
48800
48900
49000
49100
49200
49300
49400
49500
49600
49700
49800
49900
50000
50100
50200
50300
50400
50500
50600
50700
50800
50900
51000
51100
51200
51300
51400
51500
51600
51700
51800
51900
52000
52100
52200
52300
52400
52500
52600
52700
52800
52900
53000
53100
53200
53300
53400
53500
53600
53700
53800
53900
54000
54100
54200
54300
54400
54500
54600
54700
54800
54900
55000
55100
55200
55300
55400
55500
55600
55700
55800
55900
56000
56100
56200
56300
56400
56500
56600
56700
56800
56900
57000
57100
57200
57300
57400
57500
57600
57700
57800
57900
58000
58100
58200
58300
58400
58500
58600
58700
58800
58900
59000
59100
59200
59300
59400
59500
59600
59700
59800
59900
60000
60100
60200
60300
60400
60500
60600
60700
60800
60900
61000
61100
61200
61300
61400
It broke here: 61400

In [14]:
final_eval.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61400 entries, 0 to 61399
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   move_pct        59080 non-null  float64
 1   move_nom        59080 non-null  float64
 2   move_cum_pct_1  59080 non-null  float64
 3   move_cum_nom_1  59080 non-null  float64
 4   move_cum_pct_2  59080 non-null  float64
 5   move_cum_nom_2  59080 non-null  float64
 6   rdq             61400 non-null  object
 7   permno          61400 non-null  float64
 8   cusip           61400 non-null  object
 9   Error           61400 non-null  bool
dtypes: bool(1), float64(7), object(2)
memory usage: 4.3+ MB

In [15]:
final_eval.to_csv('final_eval_pt1.csv', index=False)

In [15]:
part_2 = final_earnings.iloc[61400:].copy()
part_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9448 entries, 61400 to 70847
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   permno    9448 non-null   float64
 1   permco    9448 non-null   float64
 2   cusip     9448 non-null   object
 3   ticker    9448 non-null   object
 4   comnam    9448 non-null   object
 5   gvkey     9448 non-null   int64
 6   naics     9448 non-null   int64
 7   exchcd    9448 non-null   float64
 8   fyr       9448 non-null   float64
 9   fqtr      9445 non-null   float64
 10  fyearq    9448 non-null   float64
 11  datadate  9448 non-null   object
 12  rdq       9448 non-null   object
dtypes: float64(6), int64(2), object(5)
memory usage: 959.7+ KB

In [16]:
final_eval_pt2 = get_aggregate_earnings_evals(part_2)

100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900
2000
2100
2200
2300
2400
2500
2600
2700
2800
2900
3000
3100
3200
3300
3400
3500
3600
3700
3800
3900
4000
4100
4200
4300
4400
4500
4600
4700
4800
4900
5000
5100
5200
5300
5400
5500
5600
5700
5800
5900
6000
6100
6200
6300
6400
6500
6600
6700
6800
6900
7000
7100
7200
7300
7400
7500
7600
7700
7800
7900
8000
8100
8200
8300
8400
8500
8600
8700
8800
8900
9000
9100
9200
9300
9400

In [17]:
final_eval_pt2.to_csv('final_eval_pt2.csv', index=False)

In [18]:
final_eval_pt1 = pd.read_csv('final_eval_pt1.csv')

In [19]:
final_evals = pd.concat([final_eval_pt1, final_eval_pt2])

In [20]:
final_evals.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 70848 entries, 0 to 9447
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   move_pct        68449 non-null  float64
 1   move_nom        68449 non-null  float64
 2   move_cum_pct_1  68449 non-null  float64
 3   move_cum_nom_1  68449 non-null  float64
 4   move_cum_pct_2  68449 non-null  float64
 5   move_cum_nom_2  68449 non-null  float64
 6   rdq             70848 non-null  object
 7   permno          70848 non-null  float64
 8   cusip           70848 non-null  object
 9   Error           70848 non-null  bool
dtypes: bool(1), float64(7), object(2)
memory usage: 5.5+ MB

In [22]:
1-(68449/70848)

0.03386122402890701

In [23]:
final_evals.to_csv('total_final_evals.csv', index=False)

In [27]:
final_evals.reset_index(drop=True, inplace=True)

##### Repeat for all companies and compile a table with yes/no labels for each period.

The final output will be ticker/cusip/permno/company_name and then date and label. The final determinant for whether or not there was a "big move" is if >=4/6 of the thresholds have been met

In [ ]:
#code for adding up how many thresholds were met

In [29]:
final_evals['thresholds_passed']=final_evals[['move_pct', 'move_nom', 'move_cum_pct_1', 'move_cum_nom_1', 'move_cum_pct_2', 'move_cum_nom_2']].sum(axis=1)

In [30]:
final_evals['Earnings_Move']=0
final_evals.loc[final_evals['thresholds_passed']>= 4, 'Earnings_Move']=1

In [32]:
final_evals[['permno', 'Earnings_Move']].groupby('Earnings_Move').count()

               permno
Earnings_Move
0               68441
1                2407

In [33]:
2407/68449

0.035164867273444464

In [ ]:
#combine everything into final dataset
#write to csv and commit to github

In [34]:
final_evals = final_evals.loc[final_evals['Error']==False]
final_evals.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 68449 entries, 0 to 70847
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   move_pct           68449 non-null  float64
 1   move_nom           68449 non-null  float64
 2   move_cum_pct_1     68449 non-null  float64
 3   move_cum_nom_1     68449 non-null  float64
 4   move_cum_pct_2     68449 non-null  float64
 5   move_cum_nom_2     68449 non-null  float64
 6   rdq                68449 non-null  object
 7   permno             68449 non-null  float64
 8   cusip              68449 non-null  object
 9   Error              68449 non-null  bool
 10  thresholds_passed  68449 non-null  float64
 11  Earnings_Move      68449 non-null  int64
dtypes: bool(1), float64(8), int64(1), object(2)
memory usage: 6.3+ MB

In [35]:
final_evals.to_csv('total_final_evals.csv', index=False)